h1 { 
    font-family: 'Montserrat', sans-serif; font-size: 3rem;  line-height: 1.5;  font-weight: 900;
}
#title {
    background-color: #ff4c68;
    color: white;
}
.container-fluid {
    padding: 5% 15%;
}
body {
    font-family: 'Ubuntu', sans-serif;
}

/* navigation Bar */

Span * {color:white}
.navbar {
    color: white;
    padding: 0 0 4.5rem 0;
}
.navbar-brand {
    font-family: ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    color: white;
}
.navbar-toggler {
    color: white;
    border: solid;
}

.navbar-toggler-item * {color:white}

/* Download button */

.Download-button {
    margin: 30px 30px 0 0;
}

/* img */
#title-img {
    width: 60%;
    transform: rotate(25deg)
}

#features {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 8rem 12rem
}
.f-h3 {
    font-weight: bold;
    font-size: 1.5rem;
}
.f-p { 
    color: #8f8f8f;
    padding: 0 15% 0 15%;
}
.fa-circle-check {
    color : #ef8172;
    font-size: 3.5rem;
    padding-bottom: 1rem;
}
.fa-circle-dot  {
    color : #ef8172;
    font-size: 3.5rem;
    padding-bottom: 1rem;
}
.fa-heart  {
    color : #ef8172;
    font-size: 3.5rem;
    padding-bottom: 1rem;
}

.fa-circle-check:hover {
    color: #ff4c68;
}

.fa-circle-dot:hover {
    color: #ff4c68;
}
.fa-heart:hover {
    color: #ff4c68;
}
.col-lg-4 {
    display: block;
}

#testimonials {
    background-color: #ef8172;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    line-height: 1.5;
}
.testimonial-image {
    width: 13%;
    border-radius: 50%;
    margin: 3%;
}
#press {
    background-color: #ef8172;
    text-align: center;
    padding: 3% 15% 3%;
}

.logo {
    width: 20%;
    margin: 4% 0% 3% 4%;
}

.carousel-control{
    margin: 3% 10%;
    display: inline-block;
}

.carousel-item {
    font-family: 'Montserrat', sans-serif;

}
